<div ng-controller="business_partner_controller">

    <div ng-include="'views/toolbar.html'"></div>

    <h1>Business partner</h1>

    <table id="table">
        <tr class = "header">
            <th>ID</th>
            <th>Type of BP</th>
            <th>Company ID</th>
            <th>Company name</th>
            <th>Company partner ID</th>
            <th>Company partner name</th>
        </tr>
        <tr ng-repeat="o in objects" ng-click="foo($event, o)" >
            <td class="id">{{o.business_partner_id}}</td>
            <td class="type_of_bp">{{o.type_of_bp}}</td>
            <td class="company_id">{{o.company.company_id}}</td>
            <td class="company_name">{{o.company.name}}</td>
            <td class="company_partner_id">{{o.company_partner.company_id}}</td>
            <td class="company_partner_name">{{o.company_partner.name}}</td>
        </tr>
    </table>

    <div class = "panel">
        <form name="userForm">
            <p>
                <input type = "hidden" ng-model="obj.business_partner_id"/>
            </p>
            <p>
            <div class="form-group" ng-class="{ 'has-error' : userForm.name.$invalid && !userForm.name.$pristine }">
                <label>Type of BP</label>
                <select ng-model="obj.type_of_bp" name="type_of_bp" required>
                    <option value="customer">Customer</option>
                    <option value="supplier">Supplier</option>
                    <option value="customer_and_supplier">Customer and Supplier</option>
                </select>
                <div ng-if="state!='search'">
                    <div ng-messages="userForm.type_of_bp.$error" >
                        <div ng-messages-include="views/messages.html"></div>
                    </div>
                </div>
            </div>
            </p>
            <p>
            <div class="form-group" ng-class="{ 'has-error' : userForm.name.$invalid && !userForm.name.$pristine }">
                <label>Company</label>
                <select ng-model="obj.company" name="company" ng-options="soo.name for soo in subObjectsOne track by soo.company_id" id="selectOne" required>
                </select>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalOne">...</button>
                <div ng-if="state!='search'">
                    <div ng-messages="userForm.company.$error" >
                        <div ng-messages-include="views/messages.html"></div>
                    </div>
                </div>
            </div>
            </p>

            <p>
            <div class="form-group" ng-class="{ 'has-error' : userForm.name.$invalid && !userForm.name.$pristine }">
                <label>Company</label>
                <select ng-model="obj.company_partner" name="company_partner" ng-options="sot.name for sot in subObjectsTwo track by sot.company_id" id="selectTwo" required>
                </select>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalTwo">...</button>
                <div ng-if="state!='search'">
                    <div ng-messages="userForm.company_partner.$error" >
                        <div ng-messages-include="views/messages.html"></div>
                    </div>
                </div>
            </div>
            </p>
            <p>
            <div id = "formActions">
                <button ng-click="accept(obj)" class="btn btn-primary" ng-disabled="userForm.$invalid && (state!='search')" style="margin-left:6em">Accept</button>
                <a id="rollback" style="margin-left:1em">Rollback</a>
            </div>
            </p>
        </form>
    </div>

    <p><h1>STANJE:{{state}}</h1></p>

    <!-- Modal -->
    <div class="modal fade" id="modalOne" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    Companies
                </div>
                <div class="modal-body">
                    <table style = "padding:2em">
                        <tr class = "header">
                            <th>ID</th>
                            <th>Name</th>
                            <th>TIN</th>
                            <th>City</th>
                            <th>Adress</th>
                            <th>Telephone</th>
                            <th>Company number</th>
                            <th>Current account</th>
                        </tr>
                        <tr ng-repeat="soo in subObjectsOne" ng-click="fook($event, soo)" >
                            <td class="sooid">{{soo.company_id}}</td>
                            <td class="sooname">{{soo.name}}</td>
                            <td class="sootin">{{soo.tin}}</td>
                            <td class="soocity">{{soo.city}}</td>
                            <td class="sooadress">{{soo.adress}}</td>
                            <td class="sootelephone">{{soo.telephone}}</td>
                            <td class="soocompany_number">{{soo.company_number}}</td>
                            <td class="soocurrent_account">{{soo.current_account}}</td>
                        </tr>
                    </table>
                    <div class="modal-footer">
                        <input id = "moPickup" type = "button" value = "Accept"/>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="modalTwo" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    Company partners
                </div>
                <div class="modal-body">
                    <table style = "padding:2em">
                        <tr class = "header">
                            <th>ID</th>
                            <th>Name</th>
                            <th>TIN</th>
                            <th>City</th>
                            <th>Adress</th>
                            <th>Telephone</th>
                            <th>Company number</th>
                            <th>Current account</th>
                        </tr>
                        <tr ng-repeat="sot in subObjectsTwo" ng-click="fookk($event, sot)" >
                            <td class="sotid">{{sot.company_id}}</td>
                            <td class="sotname">{{sot.name}}</td>
                            <td class="sottin">{{sot.tin}}</td>
                            <td class="sotcity">{{sot.city}}</td>
                            <td class="sotadress">{{sot.adress}}</td>
                            <td class="sottelephone">{{sot.telephone}}</td>
                            <td class="sotcompany_number">{{sot.company_number}}</td>
                            <td class="sotcurrent_account">{{sot.current_account}}</td>
                        </tr>
                    </table>
                    <div class="modal-footer">
                        <input id = "mtPickup" type = "button" value = "Accept"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>