<div ng-controller="company_controller">

    <p>
    <ul>
        <li><a id = "search"><img src="images/search.gif"/></a></li>
        <li><a id = "refresh"><img src="images/refresh.gif"/></a></li>
        <li><a href="#" id = "pickup"><img src="images/zoom-pickup.gif"/></a></li>
        <li><a href="#" id = "help"><img src="images/help.gif"/></a></li>
        <li><a id = "first"><img src="images/first.gif"/></a></li>
        <li><a id = "prev"><img src="images/prev.gif"/></a></li>
        <li><a id = "next"><img src="images/next.gif"/></a></li>
        <li><a id = "last"><img src="images/last.gif"/></a></li>
        <li><a id = "add"><img src="images/add.gif"/></a></li>
        <li><a id = "remove"><img src="images/remove.gif"/></a></li>
        <li><a id = "nextform"><img src="images/nextform.gif"/></a></li>
    </ul>
    </p>

    <h1>Company</h1>

    <table id="table">
        <tr class = "header">
            <th>ID</th>
            <th>Name</th>
            <th>TIN</th>
            <th>City</th>
            <th>Adress</th>
            <th>Telephone</th>
            <th>Company number</th>
            <th>Current account</th>
        </tr>
        <tr ng-repeat="o in objects" ng-click="foo($event, o)" >
            <td class="id">{{o.company_id}}</td>
            <td class="name">{{o.name}}</td>
            <td class="tin">{{o.tin}}</td>
            <td class="city">{{o.city}}</td>
            <td class="adress">{{o.adress}}</td>
            <td class="telephone">{{o.telephone}}</td>
            <td class="company_number">{{o.company_number}}</td>
            <td class="current_account">{{o.current_account}}</td>
        </tr>
    </table>

    <div class = "panel">
        <form name="userForm">
            <p>
                <input type = "hidden" ng-model="obj.company_id"/>
            </p>
            <p>
                <div class="form-group" ng-class="{ 'has-error' : userForm.name.$invalid && !userForm.name.$pristine }">
                    <label>Name</label>
                    <input type = "text" name="name" ng-model="obj.name" ng-minlength="3" ng-maxlength="50" required/>
                    <div ng-if="state!='search'">
                        <div ng-messages="userForm.name.$error" >
                            <div ng-messages-include="views/messages.html"></div>
                        </div>
                    </div>
                </div>
            </p>
            <p>
                <div class="form-group" ng-class="{ 'has-error' : userForm.name.$invalid && !userForm.name.$pristine }">
                    <label>TIN</label>
                    <input type = "number" name="tin" ng-model="obj.tin" ng-minlength="10" ng-maxlength="10" required/>
                    <div ng-if="state!='search'">
                        <div ng-messages="userForm.tin.$error" >
                            <div ng-messages-include="views/messages.html"></div>
                        </div>
                    </div>
                </div>
            </p>
            <p>
                <div class="form-group" ng-class="{ 'has-error' : userForm.name.$invalid && !userForm.name.$pristine }">
                    <label>City</label>
                    <input type = "text" name="city" ng-model="obj.city" ng-maxlength="50"/>
                    <div ng-if="state!='search'">
                        <div ng-messages="userForm.city.$error" >
                            <div ng-messages-include="views/messages.html"></div>
                        </div>
                    </div>
                </div>
            </p>
            <p>
                <div class="form-group" ng-class="{ 'has-error' : userForm.name.$invalid && !userForm.name.$pristine }">
                    <label>Adress</label>
                    <input type = "text" name="adress" ng-model="obj.adress" ng-maxlength="50"/>
                    <div ng-if="state!='search'">
                        <div ng-messages="userForm.adress.$error" >
                            <div ng-messages-include="views/messages.html"></div>
                        </div>
                    </div>
                </div>
            </p>
            <p>
                <div class="form-group" ng-class="{ 'has-error' : userForm.name.$invalid && !userForm.name.$pristine }">
                    <label>Telephone</label>
                    <input type = "text" name="telephone" ng-model="obj.telephone" ng-maxlength="50"/>
                    <div ng-if="state!='search'">
                        <div ng-messages="userForm.telephone.$error" >
                            <div ng-messages-include="views/messages.html"></div>
                        </div>
                    </div>
                </div>
            </p>
            <p>
                <label>Company number</label>
                <input type = "number" ng-model="obj.company_number" readonly/>
            </p>
            <p>
                <div class="form-group" ng-class="{ 'has-error' : userForm.name.$invalid && !userForm.name.$pristine }">
                    <label>Current account</label>
                    <input type = "text" name="current_account" ng-model="obj.current_account" ng-minlength="10" ng-maxlength="10" required/>
                    <div ng-if="state!='search'">
                        <div ng-messages="userForm.current_account.$error" >
                            <div ng-messages-include="views/messages.html"></div>
                        </div>
                    </div>
                </div>
            </p>
            <p>
            <div id = "formActions">
                <button ng-click="accept(obj)" class="btn btn-primary" ng-disabled="userForm.$invalid && (state!='search')" style="margin-left:6em">Accept</button>
                <a id="rollback" style="margin-left:1em">Rollback</a>
            </div>
            </p>
        </form>
    </div>

    <p><h1>STANJE:{{state}}</h1></p>
</div>