<div ng-controller="currency_controller">

    <h1>Currency </h1>

    <table id="table">
        <tr class = "header">
            <th>ID</th>
            <th>Name</th>
            <th>Abbreviation</th>
        </tr>
        <tr ng-repeat="o in objects" ng-click="foo($event, o)" >
            <td class="id">{{o.currency_id}}</td>
            <td class="name">{{o.name}}</td>
            <td class="abbreviation">{{o.abbreviation}}</td>
        </tr>
    </table>

    <div class = "panel">
        <form name="userForm">
            <p>
                <input type = "hidden" ng-model="obj.currency_id"/>
            </p>
            <p>
            <div class="form-group" ng-class="{ 'has-error' : userForm.name.$invalid && !userForm.name.$pristine }">
                <label>Name</label>
                <input type="text" name="name" ng-model="obj.name" ng-minlength="3" ng-maxlength="50" required>
                <div ng-if="state!='search'">
                    <div ng-messages="userForm.name.$error" >
                        <div ng-messages-include="views/messages.html"></div>
                    </div>
                </div>
            </div>
            </p>
            <p>
            <div class="form-group" ng-class="{ 'has-error' : userForm.name.$invalid && !userForm.name.$pristine }">
                <label>Abbreviation</label>
                <input type = "text" name="abbreviation" ng-model="obj.abbreviation" ng-minlength="3" ng-maxlength="3" required/>
                <div ng-if="state!='search'">
                    <div ng-messages="userForm.abbreviation.$error" >
                        <div ng-messages-include="views/messages.html"></div>
                    </div>
                </div>
            </div>
            </p>
            <p>
            <div id = "formActions">
                <button ng-click="accept(obj)" class="btn btn-primary" ng-disabled="userForm.$invalid && (state!='search')" style="margin-left:6em">Accept</button>
                <a id="rollback" style="margin-left:1em">Rollback</a>
            </div>
            </p>
        </form>
    </div>

    <p><h1>STANJE:{{state}}</h1></p>
</div>