<div ng-controller="invoice_item_controller">

    <p>
    <ul>
        <li><a id = "search"><img src="images/search.gif"/></a></li>
        <li><a id = "refresh"><img src="images/refresh.gif"/></a></li>
        <li><a href="#" id = "pickup"><img src="images/zoom-pickup.gif"/></a></li>
        <li><a href="#" id = "help"><img src="images/help.gif"/></a></li>
        <li><a id = "first"><img src="images/first.gif"/></a></li>
        <li><a id = "prev"><img src="images/prev.gif"/></a></li>
        <li><a id = "next"><img src="images/next.gif"/></a></li>
        <li><a id = "last"><img src="images/last.gif"/></a></li>
        <li><a id = "add"><img src="images/add.gif"/></a></li>
        <li><a id = "remove"><img src="images/remove.gif"/></a></li>
        <li><a id = "nextform"><img src="images/nextform.gif"/></a></li>
    </ul>
    </p>

    <h1>Invoice item</h1>

    <table id="table">
        <tr class = "header">
            <th>ID</th>
            <th>Total amount</th>
            <th>Price</th>
            <th>Discount</th>
            <th>VAT basis</th>
            <th>VAT rate</th>
            <th>VAT amount</th>
            <th>Total price</th>

            <th>Invoice ID</th>
            <th>Invoice number</th>
            <th>Item ID</th>
            <th>Item name</th>
        </tr>
        <tr ng-repeat="o in objects" ng-click="foo($event, o)" >
            <td class="id">{{o.invoice_item_id}}</td>
            <td class="total_amount">{{o.total_amount}}</td>
            <td class="price">{{o.price}}</td>
            <td class="discount">{{o.discount}}</td>
            <td class="vat_basis">{{o.vat_basis}}</td>
            <td class="vat_rate">{{o.vat_rate}}</td>
            <td class="vat_amount">{{o.vat_amount}}</td>
            <td class="total_price">{{o.total_price}}</td>

            <td class="invoice_id">{{o.invoice.invoice_id}}</td>
            <td class="invoice_number">{{o.invoice.invoice_number}}</td>
            <td class="item_id">{{o.item.item_id}}</td>
            <td class="item_name">{{o.item.name}}</td>

        </tr>
    </table>

    <div class = "panel">
        <form name="userForm">
            <p>
                <input type = "hidden" ng-model="obj.invoice_item_id"/>
            </p>
            <p>
                <div class="form-group" ng-class="{ 'has-error' : userForm.date.$invalid && !userForm.date.$pristine }">
                    <label>Total amount</label>
                    <input type = "number" name="total_amount" ng-model="obj.total_amount" ng-min="1" required/>
                    <div ng-if="state!='search'">
                        <div ng-messages="userForm.total_amount.$error" >
                            <div ng-messages-include="views/messages.html"></div>
                        </div>
                    </div>
                </div>
            </p>

            <p>
                <label>Price</label>
                <input type = "number" ng-model="obj.price" readonly/>
            </p>
            <p>
                <div class="form-group" ng-class="{ 'has-error' : userForm.date.$invalid && !userForm.date.$pristine }">
                    <label>Discount</label>
                    <input type = "number" name="discount" ng-model="obj.discount" required ng-min="0" ng-max="obj.price"/>
                    <div ng-if="state!='search'">
                        <div ng-messages="userForm.discount.$error" >
                            <div ng-messages-include="views/messages.html"></div>
                        </div>
                    </div>
                </div>
            </p>
            <p>
                <label>VAT basis</label>
                <input type = "number" ng-model="obj.vat_basis" readonly/>
            </p>
            <p>
                <label>VAT rate</label>
                <input type = "number" ng-model="obj.vat_rate" readonly/>
            </p>
            <p>
                <label>VAT amount</label>
                <input type = "number" ng-model="obj.vat_amount" readonly/>
            </p>

            <p>
                <label>Total price</label>
                <input type="number" ng-model="obj.total_price" readonly/>
            </p>

            <p>
                <div class="form-group" ng-class="{ 'has-error' : userForm.date.$invalid && !userForm.date.$pristine }">
                    <label>Invoice</label>
                    <select ng-model="obj.invoice" name="invoice" ng-options="soo.invoice_number for soo in subObjectsOne track by soo.invoice_id" required>
                    </select>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalOne">...</button>
                    <div ng-if="state!='search'">
                        <div ng-messages="userForm.invoice.$error" >
                            <div ng-messages-include="views/messages.html"></div>
                        </div>
                    </div>
                </div>
            </p>
            <p>
                <div class="form-group" ng-class="{ 'has-error' : userForm.date.$invalid && !userForm.date.$pristine }">
                    <label>Item</label>
                    <select ng-model="obj.item" name="item" ng-options="sot.name for sot in subObjectsTwo track by sot.item_id" ng-disabled="obj.invoice==null" required>
                    </select>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalTwo" ng-disabled="obj.invoice==null">...</button>
                    <div ng-if="state!='search'">
                        <div ng-messages="userForm.item.$error" >
                            <div ng-messages-include="views/messages.html"></div>
                        </div>
                    </div>
                </div>
            </p>

            <p>
            <div id = "formActions">
                <button ng-click="accept(obj)" class="btn btn-primary" ng-disabled="userForm.$invalid && (state!='search')" style="margin-left:6em">Accept</button>
                <a id="rollback" style="margin-left:1em">Rollback</a>
            </div>
            </p>
        </form>
    </div>

    <p><h1>STANJE:{{state}}</h1></p>

    <!-- Modal -->
    <div class="modal fade" id="modalOne" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    Purchase orders
                </div>
                <div class="modal-body">
                    <table style = "padding:2em">
                        <tr class = "header">
                            <th>ID</th>
                            <th>Date</th>
                            <th>Invoice number</th>
                            <th>Date of currency</th>
                            <th>Total tax basis</th>
                            <th>Total VAT</th>
                            <th>Total price</th>
                            <th>Billing account</th>
                            <th>Reference number</th>


                            <th>Company ID</th>
                            <th>Company name</th>
                            <th>Business partner ID</th>
                            <th>Business partner name</th>
                            <th>Fiscal year ID</th>
                            <th>Fiscal year number of FY</th>
                        </tr>
                        <tr ng-repeat="soo in subObjectsOne" ng-click="fook($event, soo)" >
                            <td class="sooid">{{soo.invoice_id}}</td>
                            <td class="soodate">{{soo.date | date:'yyyy-MM-dd HH:mm'}}</td>
                            <td class="sooinvoice_number">{{soo.invoice_number}}</td>
                            <td class="soodate_of_currency">{{soo.date_of_currency}}</td>
                            <td class="soototal_tax_basis">{{soo.total_tax_basis}}</td>
                            <td class="soototal_vat">{{soo.total_vat}}</td>
                            <td class="soototal_price">{{soo.total_price}}</td>
                            <td class="soobilling_account">{{soo.billing_account}}</td>
                            <td class="sooreference_number">{{soo.reference_number}}</td>

                            <td class="soocompany_id">{{soo.company.company_id}}</td>
                            <td class="soocompany_name">{{soo.company.name}}</td>
                            <td class="soobusiness_partner_id">{{soo.business_partner.business_partner_id}}</td>
                            <td class="soobusiness_partner_name">{{soo.business_partner.name}}</td>
                            <td class="soofiscal_year_id">{{soo.fiscal_year.fiscal_year_id}}</td>
                            <td class="soofiscal_year_number_of_fy">{{soo.fiscal_year.number_of_fy}}</td>

                        </tr>
                    </table>
                    <div class="modal-footer">
                        <input id = "moPickup" type = "button" value = "Accept"/>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="modalTwo" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    Companies
                </div>
                <div class="modal-body">
                    <table style = "padding:2em">
                        <tr class = "header">
                            <th>ID</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Is service</th>
                            <th>Item group ID</th>
                            <th>Item group name</th>
                            <th>Units of measurement ID</th>
                            <th>Units of measurement name</th>
                        </tr>
                        <tr ng-repeat="sot in subObjectsTwo" ng-click="fookk($event, sot)" >
                            <td class="sotid">{{sot.item_id}}</td>
                            <td class="sotname">{{sot.name}}</td>
                            <td class="sotdescription">{{sot.description}}</td>
                            <td class="sotis_service">{{sot.is_service}}</td>

                            <td class="sotitem_group_id">{{sot.item_group.item_group_id}}</td>
                            <td class="sotitem_group_name">{{sot.item_group.name}}</td>
                            <td class="sotunits_of_measurement_id">{{sot.units_of_measurement.units_of_measurement_id}}</td>
                            <td class="sotunits_of_measurement_name">{{sot.units_of_measurement.name}}</td>
                        </tr>
                    </table>
                    <div class="modal-footer">
                        <input id = "mtPickup" type = "button" value = "Accept"/>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>