<div ng-controller="price_list_controller">

    <div ng-include="'views/toolbar.html'"></div>

    <h1>Price list</h1>

    <table id="table">
        <tr class = "header">
            <th>ID</th>
            <th>Valid from</th>
        </tr>
        <tr ng-repeat="o in objects" ng-click="foo($event, o)" >
            <td class="id">{{o.price_list_id}}</td>
            <td class="valid_from">{{o.valid_from | date:'yyyy-MM-dd HH:mm'}}</td>
        </tr>
    </table>

    <div class = "panel">
        <form name="userForm">
            <p>
                <input type = "hidden" ng-model="obj.price_list_id"/>
            </p>
            <p>
                <div class="form-group" ng-class="{ 'has-error' : userForm.name.$invalid && !userForm.name.$pristine }">
                    <label>Valid from</label>
                    <input type="datetime-local" name="bday" ng-model="obj.valid_from" required/>
                    <div ng-if="state!='search'">
                        <div ng-messages="userForm.bday.$error" >
                            <div ng-messages-include="views/messages.html"></div>
                        </div>
                    </div>
                </div>
            </p>

            <p>
            <div id = "formActions">
                <button ng-click="accept(obj)" class="btn btn-primary" ng-disabled="userForm.$invalid && (state!='search')" style="margin-left:6em">Accept</button>
                <a id="rollback" style="margin-left:1em">Rollback</a>
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modalOne" ng-disabled="obj.price_list_id==null">Copy price list</button>
            </div>
            </p>
        </form>
    </div>

    <p><h1>STANJE:{{state}}</h1></p>

    <!-- Modal -->
    <div class="modal fade" id="modalOne" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    Copy price list
                </div>
                <div class="modal-body">
                    <form name="userForma">
                        <p>
                        <div class="form-group" ng-class="{ 'has-error' : userForm.name.$invalid && !userForm.name.$pristine }">
                            <label>Valid from for new price list</label>
                            <input type="datetime-local" name="bdaya" ng-model="valid_from" required/>
                                <div ng-messages="userForma.bdaya.$error" >
                                    <div ng-messages-include="views/messages.html"></div>
                                </div>
                        </div>
                        </p>
                        <p>
                            <label>Increase</label>
                            <input type="checkbox" ng-model="increase"/>
                        </p>
                        <p>
                        <div class="form-group" ng-class="{ 'has-error' : userForm.name.$invalid && !userForm.name.$pristine }">
                            <label>Percent of price</label>
                            <input type="number" name="percent" ng-model="percent" required value="0.0" ng-min="0" ng-max="99" ng-maxlength="2"/>
                                <div ng-messages="userForma.percent.$error" >
                                    <div ng-messages-include="views/messages.html"></div>
                                </div>
                        </div>
                        </p>

                        <div class="modal-footer">
                            <input id = "moPickup" type = "button" value = "Accept" class="btn btn-primary" ng-disabled="userForma.$invalid"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>