<p>
    <ul>
        <li><a id = "search" ng-click="search()"><img src="images/search.gif"/></a></li>
        <li><a id = "refresh" ng-click="refresh()"><img src="images/refresh.gif"/></a></li>
        <li><a href="#" id = "pickup"><img src="images/zoom-pickup.gif"/></a></li>
        <li><a href="#" id = "help"><img src="images/help.gif"/></a></li>
        <li><a id = "first" ng-click="first()"><img src="images/first.gif"/></a></li>
        <li><a id = "prev" ng-click="prev()"><img src="images/prev.gif"/></a></li>
        <li><a id = "next" ng-click="next()"><img src="images/next.gif"/></a></li>
        <li><a id = "last" ng-click="last()"><img src="images/last.gif"/></a></li>
        <li><a id = "add" ng-click="add()"><img src="images/add.gif"/></a></li>
        <li><a id = "remove" ng-click="remove()"><img src="images/remove.gif"/></a></li>
        <li><a id = "nextform" ng-click="nextform()"><img src="images/nextform.gif"/></a></li>
    </ul>
</p>