<p>
    <ul>
        <li><a id = "search"><img src="images/search.gif"/></a></li>
        <li><a id = "refresh"><img src="images/refresh.gif"/></a></li>
        <li><a href="#" id = "pickup"><img src="images/zoom-pickup.gif"/></a></li>
        <li><a href="#" id = "help"><img src="images/help.gif"/></a></li>
        <li><a id = "first"><img src="images/first.gif"/></a></li>
        <li><a id = "prev"><img src="images/prev.gif"/></a></li>
        <li><a id = "next"><img src="images/next.gif"/></a></li>
        <li><a id = "last"><img src="images/last.gif"/></a></li>
        <li><a id = "add"><img src="images/add.gif"/></a></li>
        <li><a id = "remove"><img src="images/remove.gif"/></a></li>
        <li><a id = "nextform"><img src="images/nextform.gif"/></a></li>
    </ul>
</p>